[Unit]
Description=hakuX fold job, every 30min

[Timer]
OnBootSec=8min
OnUnitActiveSec=30min
RandomizedDelaySec=60
Persistent=true
Unit=hakux-fold.service

[Install]
WantedBy=timers.target
